.logo
  padding: 0
  margin-top: $indent-adapt-lg

#search-form
  width: 300px
  padding: 0
  margin: $indent-adapt-lg 0 0 0
  margin-top:

  .search-group
    width: 100%

  .search-input
    border-radius: 20px
    padding: 0 0 0 $indent-sm

  .search-button
    position: relative
    margin-left: 5px
    border: none
    outline: none
    padding: 4px 12px 3px 5px

