.review, .feature
  margin-top: $indent-adapt-md
  margin-bottom: $indent-sm
  margin-left: auto
  margin-right: auto
  width: 262px
  text-align: center


  img
    width: 210px
    height: 185px
    overflow: hidden

  .text
    text-align: center
    margin: 25px 0 0

