@import ../../node_modules/bootstrap/dist/css/bootstrap
@import "base/variables"
@import "base/base"
@import "components/header"
@import "components/blockquote"
@import "components/reviews"

.selected
  margin-top: $indent-adapt-md

.description-book
  margin-bottom: $indent-sm
  margin-top: $indent-adapt-md

.price
  margin-top: $indent-xs
  margin-bottom: $indent-lg

  .price-description
    margin-top: $indent-md
    margin-bottom: $indent-xs

.book
  margin-top: $indent-adapt-md
  margin-bottom: $indent-sm

.load-books
  margin-top: $indent-adapt-sm
  margin-bottom: $indent-lg

.about

  .team
    margin-bottom: $indent-xs

    .employee
      margin-top: $indent-lg

    .bender
       margin-top: 3px

.image-footer
  display: block
  margin-top: $indent-xl


//









