.x
  outline: 1px solid #ff0000

.wrapper
  max-width: 1280px
  margin: 0 auto
  padding: 0 3vw

  .row
    margin: 0

h1, h2, p
  font-family: Arial, sans-serif

h1
  margin-top: $indent-adapt-lg
  margin-bottom: 0
  font-size: 7.2rem
  text-align: center
  @media screen and (max-width: 600px)
    font-size: 3.8rem
  font-weight: bold

h2
  margin-top: $indent-adapt-md
  margin-bottom: $indent-md
  font-size: 4.2rem
  @media screen and (max-width: 600px)
    font-size: 3.2rem

h3
  margin-top: $indent-md
  margin-bottom: $indent-md

p
  margin: 0

.text
  font-size: 2.1rem


.lead-text
  margin-top: $indent-adapt-md
  font-size: 3.2rem
  @media screen and (max-width: 600px)
    font-size: 2.4rem

.main-text
  padding-bottom: $indent-sm